name: CI

on:
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'

      - name: Cache Composer packages
        uses: actions/cache@v4
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-

      - name: Install Dependencies
        run: composer install --prefer-dist --no-progress

      - name: ci:php
        run: composer ci:php

      - name: Functional Tests
        run: RUNTESTS_DIR_BIN=.Build/bin/ ./Build/Scripts/runTests.sh -p 8.3 -- --testsuite Functional

      - name: Integration Tests
        env:
          CI: "true"
          CI_PARAMS: "-e GEMINI_API_KEY -e CLAUDE_API_KEY -e OPENAI_API_KEY -e MISTRAL_API_KEY -e COHERE_API_KEY -e DEEPL_API_KEY -e GOOGLE_TRANSLATE_API_KEY"
          # API Keys
          CLAUDE_API_KEY: ${{ secrets.CLAUDE_API_KEY }}
          COHERE_API_KEY: ${{ secrets.COHERE_API_KEY }}
          DEEPL_API_KEY: ${{ secrets.DEEPL_API_KEY }}
          MISTRAL_API_KEY: ${{ secrets.MISTRAL_API_KEY }}
          # GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          # GOOGLE_TRANSLATE_API_KEY: ${{ secrets.GOOGLE_TRANSLATE_API_KEY }}
          # OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        run: RUNTESTS_DIR_BIN=.Build/bin/ ./Build/Scripts/runTests.sh -p 8.3 -- --testsuite Integration
